/* estilos.css */
body {
    background: linear-gradient(135deg, #b2f5ea, #a0e7e5, #81e6d9);
    font-family: Arial, sans-serif;
}

h1 {
    color: #055a57;
    text-align: center;
    margin-top: 20px;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table {
    color: #055a57;
}

th {
    background-color: #b2f5ea;
    color: #055a57;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e6fffa;
}

tr:nth-child(odd) {
    background-color: #f0fff4;
}

.btn-edit {
    color: #fff;
    background-color: #38b2ac;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #319795;
}

.btn-delete {
    color: #fff;
    background-color: #e53e3e;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #c53030;
}

.form-check-input:checked {
    background-color: #38b2ac;
    border-color: #319795;
}
